<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="/" class="header-brand">
                Управление студентами
            </a>
            <div class="header-nav">
                <a href="/">Главная</a>
                <a href="/Students">Студенты</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-content">
            &copy; 2025 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
